<div>
  <nav>
    <button mat-button (click)="(movieRoute)">Movies</button>
    <button mat-button (click)="(userLogout)">Logout</button>
  </nav>
<div style="display: flex;">
  <mat-card class="card">
      <mat-card-header>
      <mat-card-title color="primary">Your Profile</mat-card-title>
      </mat-card-header>
      <mat-card-actions>
          <!-- <p><strong>Username:</strong> {{User.username}}</p>
          <p><strong>Email:</strong> {{User.email}}</p>
          <p><strong>Birthday:</strong> {{User.Birthday}}</p> -->
          <br>
          <button
              mat-button
              color="primary"
          >
              Edit Profile
          </button>
          <mat-icon>favorite_border</mat-icon>
      </mat-card-actions>
  </mat-card>
  <mat-card class="card">
    <h3>Favorite movies</h3>
  </mat-card>
</div>
</div>