<div>
  <nav>
    <button mat-button (click)="(movieRoute())">Movies</button>
    <button mat-button (click)="(userLogout())">Logout</button>
  </nav>
<div class="container">
  <mat-card class="card">
      <mat-card-header>
      <mat-card-title color="primary">Your Profile</mat-card-title>
      </mat-card-header>
      <mat-card-actions>
        <ul>
          <li>Username: {{ User?.username }}</li>
          <li>Email: {{ User?.email }}</li>
          <li>Birthday: {{ User?.birthday | date:'longDate'}}</li>
        </ul>
        <hr>
          <button
              mat-flat-button
              color="secondary"
              (click)="openUpdateUserDialog()"
          >
              Edit Profile
          </button>
      </mat-card-actions>
  </mat-card>
  <mat-card class="card">
    <h3>Favorite movies</h3>
    <p>On its way soon!</p>
  </mat-card>
</div>
</div>